@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul,
li {
  list-style: none;
}

.container-fluid {
  height: 100vh;
  position: relative;
  padding: 0;
}

.view_bx {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 300px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  transform: translate(-50%, -50%);
  color: #aaa;
}
.view_bx .weather_board {
  padding: 20px;
}
.view_bx .weather_board .now {
  font-size: 16px;
}

.weather_icon {
  font-size: 30px;
}

.bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bg video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: auto;
}